<form [formGroup]="form" class="max-w-3x1 p-4">


<div>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="ejem.Pizza" formControlName="name">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    @if(name?.invalid && (name?.dirty || name?.touched)){
      <mat-error>
      @if(name?.hasError('required')){
        <span class="text-xs">Este campo es requerido</span>
      }
    </mat-error>

    }
  </mat-form-field>
</div>

</form>